/*Backgrounds-------------------------------------------------------*/
/*BLUE-------------------------------------------------------*/
 .bg-blue{
    background-color:#0d6efd;
 }

 .bg-blue-100{
    background-color:#cfe2ff;
 }

 .bg-blue-200{
    background-color:#9ec5fe;
 }

 .bg-blue-300{
    background-color:#6ea8fe;
 }

 .bg-blue-400{
    background-color:#3d8bfd;
 }

 .bg-blue-500{
    background-color:#0d6efd;
 }

 .bg-blue-600{
    background-color:#0a58ca;
 }

 .bg-blue-700{
    background-color:#084298;
 }

 .bg-blue-800{
    background-color:#052c65;
 }

 .bg-blue-900{
    background-color:#031633;
 }

 /*INDIGO-------------------------------------------------------*/
 .bg-indigo{
    background-color:#6610f2;
 }

 .bg-indigo-100{
    background-color:#e0cffc;
 }

 .bg-indigo-200{
    background-color:#c29ffa;
 }

 .bg-indigo-300{
    background-color:#a370f7;
 }

 .bg-indigo-400{
    background-color:#8540f5;
 }

 .bg-indigo-500{
    background-color:#6610f2;
 }

 .bg-indigo-600{
    background-color:#520dc2;
 }

 .bg-indigo-700{
    background-color:#3d0a91;
 }

 .bg-indigo-800{
    background-color:#290661;
 }

 .bg-indigo-900{
    background-color:#140330;
 }

 /*PURPLE-------------------------------------------------------*/
  .bg-purple{
    background-color:#6f42c1;
 }

 .bg-purple-100{
    background-color:#e2d9f3;
 }

 .bg-purple-200{
    background-color:#c5b3e6;
 }

 .bg-purple-300{
    background-color:#a98eda;
 }

 .bg-purple-400{
    background-color:#8c68cd;
 }

 .bg-purple-500{
    background-color:#6f42c1;
 }
 
 .bg-purple-600{
    background-color:#59359a;
 }

 .bg-purple-700{
    background-color:#432874;
 }

 .bg-purple-800{
    background-color:#2c1a4d;
 }

 .bg-purple-900{
    background-color:#160d27;
 }

 /*PINK-------------------------------------------------------*/
 .bg-pink{
    background-color:#d63384;
 }

 .bg-pink-100{
    background-color:#f7d6e6;
 }

 .bg-pink-200{
    background-color:#efadce;
 }

 .bg-pink-300{
    background-color:#e685b5;
 }

 .bg-pink-400{
    background-color:#de5c9d;
 }

 .bg-pink-500{
    background-color:#d63384;
 }
 
 .bg-pink-600{
    background-color:#ab296a;
 }

 .bg-pink-700{
    background-color:#801f4f;
 }

 .bg-pink-800{
    background-color:#561435;
 }

 .bg-pink-900{
    background-color:#2b0a1a;
 }

/*RED-------------------------------------------------------*/
 .bg-red{
    background-color:#dc3545;
 }

 .bg-red-100{
    background-color:#f8d7da;
 }

 .bg-red-200{
    background-color:#f1aeb5;
 }

 .bg-red-300{
    background-color:#ea868f;
 }

 .bg-red-400{
    background-color:#e35d6a;
 }

 .bg-red-500{
    background-color:#dc3545;
 }
 
 .bg-red-600{
    background-color:#b02a37;
 }

 .bg-red-700{
    background-color:#842029;
 }

 .bg-red-800{
    background-color:#58151c;
 }

 .bg-red-900{
    background-color:#2c0b0e;
 }

 /*ORANGE-------------------------------------------------------*/
 .bg-orange{
    background-color:#fd7e14;
 }

 .bg-orange-100{
    background-color:#ffe5d0;
 }

 .bg-orange-200{
    background-color:#fecba1;
 }

 .bg-orange-300{
    background-color:#fecba1;
 }

 .bg-orange-400{
    background-color:#fd9843;
 }

 .bg-orange-500{
    background-color:#fd7e14;
 }
 
 .bg-orange-600{
    background-color:#ca6510;
 }

 .bg-orange-700{
    background-color:#984c0c;
 }

 .bg-orange-800{
    background-color:#653208;
 }

 .bg-orange-900{
    background-color:#331904;
 }

  /*YELLOW-------------------------------------------------------*/
  .bg-yellow{
    background-color:#ffc107;
 }

 .bg-yellow-100{
    background-color:#fff3cd;
 }

 .bg-yellow-200{
    background-color:#ffcd39;
 }

 .bg-yellow-300{
    background-color:#ffda6a;
 }

 .bg-yellow-400{
    background-color:#ffcd39;
 }

 .bg-yellow-500{
    background-color:#ffc107;
 }
 
 .bg-yellow-600{
    background-color:#cc9a06;
 }

 .bg-yellow-700{
    background-color:#997404;
 }

 .bg-yellow-800{
    background-color:#664d03;
 }

 .bg-yellow-900{
    background-color:#332701;
 }
 

 /*GREEN-------------------------------------------------------*/
 .bg-green{
    background-color:#198754;
 }

 .bg-green-100{
    background-color:#d1e7dd;
 }

 .bg-green-200{
    background-color:#a3cfbb;
 }

 .bg-green-300{
    background-color:#75b798;
 }

 .bg-green-400{
    background-color:#479f76;
 }

 .bg-green-500{
    background-color:#198754;
 }
 
 .bg-green-600{
    background-color:#146c43;
 }

 .bg-green-700{
    background-color:#0f5132;
 }

 .bg-green-800{
    background-color:#0a3622;
 }

 .bg-green-900{
    background-color:#051b11;
 }

/*TEAL-------------------------------------------------------*/
 .bg-teal{
    background-color:#20c997;
 }

 .bg-teal-100{
    background-color:#d2f4ea;
 }

 .bg-teal-200{
    background-color:#a6e9d5;
 }

 .bg-teal-300{
    background-color:#79dfc1;
 }

 .bg-teal-400{
    background-color:#4dd4ac;
 }

 .bg-teal-500{
    background-color:#20c997;
 }
 
 .bg-teal-600{
    background-color:#1aa179;
 }

 .bg-teal-700{
    background-color:#13795b;
 }

 .bg-teal-800{
    background-color:#0d503c;
 }

 .bg-teal-900{
    background-color:#06281e;
 }

 /*CYAN-------------------------------------------------------*/
 .bg-cyan{
    background-color:#0dcaf0;
 }

 .bg-cyan-100{
    background-color:#cff4fc;
 }

 .bg-cyan-200{
    background-color:#9eeaf9;
 }

 .bg-cyan-300{
    background-color:#6edff6;
 }

 .bg-cyan-400{
    background-color:#3dd5f3;
 }

 .bg-cyan-500{
    background-color:#0dcaf0;
 }
 
 .bg-cyan-600{
    background-color:#0aa2c0;
 }

 .bg-cyan-700{
    background-color:#055160;
 }

 .bg-cyan-800{
    background-color:#055160;
 }

 .bg-cyan-900{
    background-color:#032830;
 }

  /*gray-------------------------------------------------------*/
 .bg-gray{
    background-color:#adb5bd;
 }

 .bg-gray-100{
    background-color:#f8f9fa;
 }

 .bg-gray-200{
    background-color:#e9ecef;
 }

 .bg-gray-300{
    background-color:#dee2e6;
 }

 .bg-gray-400{
    background-color:#ced4da;
 }

 .bg-gray-500{
    background-color:#adb5bd;
 }
 
 .bg-gray-600{
    background-color:#6c757d;
 }

 .bg-gray-700{
    background-color:#495057;
 }

 .bg-gray-800{
    background-color:#343a40;
 }

 .bg-gray-900{
    background-color:#212529;
 }

 /* BLACK AND WHITE ----------------------------------*/

 .bg-black{
    background-color: black;
 }

 .bg-white{
    background-color: white;
 }


/*Texts-------------------------------------------------------*/
/*BLUE-------------------------------------------------------*/
.text-blue{
   color:#0d6efd;
 }
 
 .text-blue-100{
   color:#cfe2ff;
 }
 
 .text-blue-200{
   color:#9ec5fe;
 }
 
 .text-blue-300{
   color:#6ea8fe;
 }
 
 .text-blue-400{
   color:#3d8bfd;
 }
 
 .text-blue-500{
   color:#0d6efd;
 }
 
 .text-blue-600{
   color:#0a58ca;
 }
 
 .text-blue-700{
   color:#084298;
 }
 
 .text-blue-800{
   color:#052c65;
 }
 
 .text-blue-900{
   color:#031633;
 }
 
 /*INDIGO-------------------------------------------------------*/
 
 .text-indigo{
   color:#6610f2;
 }
 
 .text-indigo-100{
   color:#e0cffc;
 }
 
 .text-indigo-200{
   color:#c29ffa;
 }
 
 .text-indigo-300{
   color:#a370f7;
 }
 
 .text-indigo-400{
   color:#8540f5;
 }
 
 .text-indigo-500{
   color:#6610f2;
 }
 
 .text-indigo-600{
   color:#520dc2;
 }
 
 .text-indigo-700{
   color:#3d0a91;
 }
 
 .text-indigo-800{
   color:#290661;
 }
 
 .text-indigo-900{
   color:#140330;
 }
 
 /*PURPLE-------------------------------------------------------*/
 
 .text-purple{
   color:#6f42c1;
 }
 
 .text-purple-100{
   color:#e2d9f3;
 }
 
 .text-purple-200{
   color:#c5b3e6;
 }
 
 .text-purple-300{
   color:#a98eda;
 }
 
 .text-purple-400{
   color:#8c68cd;
 }
 
 .text-purple-500{
   color:#6f42c1;
 }
 
 .text-purple-600{
   color:#59359a;
 }
 
 .text-purple-700{
   color:#432874;
 }
 
 .text-purple-800{
   color:#2c1a4d;
 }
 
 .text-purple-900{
   color:#160d27;
 }
 
 /*PINK-------------------------------------------------------*/
 
 .text-pink{
   color:#d63384;
 }
 
 .text-pink-100{
   color:#f7d6e6;
 }
 
 .text-pink-200{
   color:#efadce;
 }
 
 .text-pink-300{
   color:#e685b5;
 }
 
 .text-pink-400{
   color:#de5c9d;
 }
 
 .text-pink-500{
   color:#d63384;
 }
 
 .text-pink-600{
   color:#ab296a;
 }
 
 .text-pink-700{
   color:#801f4f;
 }
 
 .text-pink-800{
   color:#561435;
 }
 
 .text-pink-900{
   color:#2b0a1a;
 }
 
 /*RED-------------------------------------------------------*/
 
 .text-red{
   color:#dc3545;
 }
 
 .text-red-100{
   color:#f8d7da;
 }
 
 .text-red-200{
   color:#f1aeb5;
 }
 
 .text-red-300{
   color:#ea868f;
 }
 
 .text-red-400{
   color:#e35d6a;
 }
 
 .text-red-500{
   color:#dc3545;
 }
 
 .text-red-600{
   color:#b02a37;
 }
 
 .text-red-700{
   color:#842029;
 }
 
 .text-red-800{
   color:#58151c;
 }
 
 .text-red-900{
   color:#2c0b0e;
 }
 
 /*ORANGE-------------------------------------------------------*/
 
 .text-orange{
   color:#fd7e14;
 }
 
 .text-orange-100{
   color:#ffe5d0;
 }
 
 .text-orange-200{
   color:#fecba1;
 }
 
 .text-orange-300{
   color:#fecba1;
 }
 
 .text-orange-400{
   color:#fd9843;
 }
 
 .text-orange-500{
   color:#fd7e14;
 }
 
 .text-orange-600{
   color:#ca6510;
 }
 
 .text-orange-700{
   color:#984c0c;
 }
 
 .text-orange-800{
   color:#653208;
 }
 
 .text-orange-900{
   color:#331904;
 }
 
 /*YELLOW-------------------------------------------------------*/
 
 .text-yellow{
   color:#ffc107;
 }
 
 .text-yellow-100{
   color:#fff3cd;
 }
 
 .text-yellow-200{
   color:#ffcd39;
 }
 
 .text-yellow-300{
   color:#ffda6a;
 }
 
 .text-yellow-400{
   color:#ffcd39;
 }
 
 .text-yellow-500{
   color:#ffc107;
 }
 
 .text-yellow-600{
   color:#cc9a06;
 }
 
 .text-yellow-700{
   color:#997404;
 }
 
 .text-yellow-800{
   color:#664d03;
 }
 
 .text-yellow-900{
   color:#332701;
 }
 
 /*GREEN-------------------------------------------------------*/
 
 .text-green{
   color:#198754;
 }
 
 .text-green-100{
   color:#d1e7dd;
 }
 
 .text-green-200{
   color:#a3cfbb;
 }
 
 .text-green-300{
   color:#75b798;
 }
 
 .text-green-400{
   color:#479f76;
 }
 
 .text-green-500{
   color:#198754;
 }
 
 .text-green-600{
   color:#146c43;
 }
 
 .text-green-700{
   color:#0f5132;
 }
 
 .text-green-800{
   color:#0a3622;
 }
 
 .text-green-900{
   color:#051b11;
 }
 
 /*TEAL-------------------------------------------------------*/
 
 .text-teal{
   color:#20c997;
 }
 
 .text-teal-100{
   color:#d2f4ea;
 }
 
 .text-teal-200{
   color:#a6e9d5;
 }
 
 .text-teal-300{
   color:#79dfc1;
 }
 
 .text-teal-400{
   color:#4dd4ac;
 }
 
 .text-teal-500{
   color:#20c997;
 }
 
 .text-teal-600{
   color:#1aa179;
 }
 
 .text-teal-700{
   color:#13795b;
 }
 
 .text-teal-800{
   color:#0d503c;
 }
 
 .text-teal-900{
   color:#06281e;
 }
 
 /*CYAN-------------------------------------------------------*/
 
 .text-cyan{
   color:#0dcaf0;
 }
 
 .text-cyan-100{
   color:#cff4fc;
 }
 
 .text-cyan-200{
   color:#9eeaf9;
 }
 
 .text-cyan-300{
   color:#6edff6;
 }
 
 .text-cyan-400{
   color:#3dd5f3;
 }
 
 .text-cyan-500{
   color:#0dcaf0;
 }
 
 .text-cyan-600{
   color:#0aa2c0;
 }
 
 .text-cyan-700{
   color:#055160;
 }
 
 .text-cyan-800{
   color:#055160;
 }
 
 .text-cyan-900{
   color:#032830;
 }
 
 /*GRAY-------------------------------------------------------*/
 
 .text-gray{
   color:#adb5bd;
 }
 
 .text-gray-100{
   color:#f8f9fa;
 }
 
 .text-gray-200{
   color:#e9ecef;
 }
 
 .text-gray-300{
   color:#dee2e6;
 }
 
 .text-gray-400{
   color:#ced4da;
 }
 
 .text-gray-500{
   color:#adb5bd;
 }
 
 .text-gray-600{
   color:#6c757d;
 }
 
 .text-gray-700{
   color:#495057;
 }
 
 .text-gray-800{
   color:#343a40;
 }
 
 .text-gray-900{
   color:#212529;
 }
 
/* BLACK AND WHITE ----------------------------------*/
 
 .text-black{
   background-color: black;
 }
 
 .text-white{
   background-color: white;
 }

/* BUTTONS-----------------------------------*/
button{
   display: inline-block;
   font-weight: 400;
   line-height: 1.5;
   color: #212529;
   text-align: center;
   text-decoration: none;
   vertical-align: middle;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   user-select: none;
   background-color: transparent;
   border: 1px solid transparent;
   padding: 0.375rem 0.75rem;
   font-size: 1rem;
   border-radius: 0.25rem;
   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-blue{
   background-color:#0d6efd;
   color:white;
   transition: all .5s;
}

.btn-blue:hover{
   background-color:#3d8bfd;
   color:white;
   border: solid 1px #0d6efd;
}

.btn-indigo{
   background-color:#6610f2;
   color:white;
   transition: all .5s;
}

.btn-indigo:hover{
   background-color:#8540f5;
   color:white;
   border: solid 1px #6610f2;
}

.btn-purple{
   background-color:#6f42c1;
   color:white;
   transition: all .5s;
}

.btn-purple:hover{
   background-color:#8c68cd;
   color:white;
   border: solid 1px #6f42c1;
}

.btn-pink{
   background-color:#d63384;
   color:white;
   transition: all .5s;
}

.btn-pink:hover{
   background-color:#de5c9d;
   color:white;
   border: solid 1px #d63384;
}

.btn-red{
   background-color:#dc3545;
   color:white;
   transition: all .5s;
}

.btn-red:hover{
   background-color:#e35d6a;
   color:white;
   border: solid 1px #dc3545;
}

.btn-orange{
   background-color:#fd7e14;
   color:white;
   transition: all .5s;
}

.btn-orange:hover{
   background-color:#fd9843;
   color:white;
   border: solid 1px #fd7e14;
}

.btn-yellow{
   background-color:#ffc107;
   color:white;
   transition: all .5s;
}

.btn-yellow:hover{
   background-color:#ffcd39;
   color:white;
   border: solid 1px #ffc107;
}

.btn-green{
   background-color:#198754;
   color:white;
   transition: all .5s;
}

.btn-green:hover{
   background-color:#479f76;
   color:white;
   border: solid 1px #198754;
}

.btn-teal{
   background-color:#20c997;
   color:white;
   transition: all .5s;
}

.btn-teal:hover{
   background-color:#4dd4ac;
   color:white;
   border: solid 1px #20c997;
}

.btn-cyan{
   background-color:#0dcaf0;
   color:white;
   transition: all .5s;
}

.btn-cyan:hover{
   background-color:#3dd5f3;
   color:white;
   border: solid 1px #0dcaf0;
}

.btn-gray{
   background-color:#adb5bd;
   color:white;
   transition: all .5s;
}

.btn-gray:hover{
   background-color:#ced4da;
   color:white;
   border: solid 1px #adb5bd;
}

.btn-black{
   background-color:Black;
   color:white;
   transition: all .5s;
}

.btn-black:hover{
   background-color:white;
   color:black;
   border: solid 1px black;
}

.btn-white{
   background-color:white;
   color:black;
   border: solid 1px black;
}

.btn-white:hover{
   background-color:Black;
   color:white;
   transition: all .5s;
}